# llama.cpp-b10488 sha256:9d77fa17254e1dee4b9e92504c91611a60b1359f
[submodule "upstream/llama.cpp"]
	ignore = dirty
	ref = 9d77fa17254e1dee4b9e92504c91611a60b1359f
	path = upstream/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
	branch = b10488
	shallow = true
